body{
margin:0;
font-family:Arial;
}

header{
text-align:center;
background:white;
padding:15px;
border-bottom:4px solid orange;
}

header img{
width:220px;
}

nav{
background:#0b3d91;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

/* HERO */

.hero{
height:55vh;
display:flex;
align-items:center;
justify-content:center;
background-size:cover;
background-position:center;
position:relative;
color:white;
text-align:center;
transition:1s;
}

.hero::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
}

.hero-content{
position:relative;
z-index:1;
}

.hero h2{
font-size:30px;
text-shadow:0 3px 8px black;
}

.hero p{
text-shadow:0 3px 8px black;
}

/* CONTROLS */

.controls button{
background:white;
border:none;
padding:8px 12px;
margin:5px;
cursor:pointer;
font-size:18px;
border-radius:5px;
}

.dots{
margin-top:10px;
}

.dot{
height:8px;
width:8px;
background:#ccc;
display:inline-block;
border-radius:50%;
margin:3px;
cursor:pointer;
}

.dot.active{
background:white;
}

/* SERVICES */

.section{
padding:50px 20px;
text-align:center;
}

.services{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
width:250px;
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
overflow:hidden;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

/* FOOTER */

footer{
background:#0b3d91;
color:white;
padding:15px;
text-align:center;
}

/* SCROLL */

.reveal{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}